*{
    background-color: rgb(177, 232, 234);
}
#qplace{
    width: 450px;
    height: 200px;
    border:3px solid black;
    box-shadow:4px 4px 4px black;
    text-align: center;
    background-color: antiquewhite;
    font-weight: 800;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    width:10rem;
    height:1.5rem;
    font-weight: 800;
    background-color: antiquewhite;
}
